Repository JoeyPoel/EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-fe, build-be

.gitlab-ci.yml:

stages:
  - test
  - build-frontend
  - build-backend

test-backend:
  image: maven:3.8.4-openjdk-17
  stage: test
  tags:
    - hva
  script:
    - cd backend
    - mvn test
  rules:
    - when: always

test-frontend:
  image: node:latest
  stage: test
  tags:
    - hva
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - frontend/node_modules/
  script:
    - cd frontend
    - npm install
    - npm run test
  rules:
    - when: always


build-fe:
  image: node:latest
  stage: build-frontend
  tags:
    - hva
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - frontend/node_modules/
  script:
    - cd frontend
    - npm install
    - npm run buildprod
  artifacts:
    paths:
      - frontend/dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

.docker-build-fe:
  image: docker:19.03.12
  stage: build-frontend
  tags:
    - hva
  services:
    - docker:19.03.12-dind
  needs:
    - job: build-fe
      artifacts: true
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG" -f frontend/Dockerfile .
    - docker push "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG"
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG" "solar3ewa/ewa-boolets-fe:latest"
        docker push "solar3ewa/ewa-boolets-fe:latest"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

build-be:
  image: maven:3.8.4-openjdk-17
  stage: build-backend
  tags:
    - hva
  script:
    - cd backend
    - mvn clean package -DskipTests
    - cp target/*.jar ../my-app.jar
  artifacts:
    paths:
      - my-app.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*

.docker-build-be:
  image: docker:19.03.12
  stage: build-backend
  tags:
    - hva
  services:
    - docker:19.03.12-dind
  needs:
    - job: build-be
      artifacts: true
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG" -f backend/Dockerfile .
    - docker push "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG"
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG" "solar3ewa/ewa-boolets-be:latest"
        docker push "solar3ewa/ewa-boolets-be:latest"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*

Update README.md
  README.md
Due: none

Added 7 BE tests and 7 FE tests
  backend/src/test/java/teamx/app/backend/controllers/EmailControllerTest.java
  backend/src/test/java/teamx/app/backend/repositories/UserRepositoryTest.java
  backend/src/test/java/teamx/app/backend/services/AuthenticationServiceTest.java
  frontend/src/components/user/PassForgotComponent.vue
  frontend/src/services/EmailAdaptor.js
  frontend/src/tests/adaptor/EmailAdaptorTests.spec.js
  frontend/src/tests/adaptor/UserAdaptorTests.spec.js
  frontend/src/tests/component/LoginComponentTests.spec.js
Due: build-fe, build-be

Backend Tests; ProjectControllerTest.java, ProjectRepositoryTests.java
  backend/src/main/java/teamx/app/backend/models/dto/InventoryProjectDTO.java
  backend/src/test/java/teamx/app/backend/controllers/ProjectControllerTest.java
  backend/src/test/java/teamx/app/backend/repositories/ProjectRepositoryTests.java
  frontend/src/components/user/LoginComponent.vue
Due: build-fe, build-be

Tests backend + Update README.md
  README.md
  backend/src/test/java/teamx/app/backend/controllers/EmailControllerTest.java
  backend/src/test/java/teamx/app/backend/controllers/UserControllerTest.java
  backend/src/test/java/teamx/app/backend/models/UserTest.java
  backend/src/test/java/teamx/app/backend/repositories/UserRepositoryTest.java
Due: build-be

Frontend and Backend Tests Finished
  backend/src/main/java/teamx/app/backend/services/ProjectService.java
  backend/src/test/java/teamx/app/backend/controllers/ProjectControllerTest.java
  backend/src/test/java/teamx/app/backend/repositories/ProjectRepositoryTests.java
  backend/src/test/java/teamx/app/backend/services/ProjectServiceTest.java
  frontend/src/tests/adaptor/AuthenticatieAdaptorTests.spec.js
  frontend/src/tests/adaptor/ProjectAdaptorTests.spec.js
  frontend/src/tests/component/ProjectEntityTest.spec.js
  frontend/src/tests/component/ProjectMaterialTest.spec.js
Due: build-fe, build-be

Small fix
  backend/src/main/java/teamx/app/backend/services/ProjectService.java
Due: build-be

frontend tests done
  frontend/src/services/UserAdaptor.js
  frontend/src/tests/adaptor/UserAdaptorTests.spec.js
  frontend/src/tests/component/UserEntityTest.spec.js
Due: build-fe

refactor of tests
  frontend/src/App.vue
  frontend/src/components/product/ProductEntityTable.spec.js
  frontend/src/components/project/ProjectEntityTable.spec.js
  frontend/src/components/project/ProjectMaterialsTable.spec.js
  frontend/src/components/team/TeamEntityTest.spec.js
  frontend/src/components/user/LoginComponent.spec.js
  frontend/src/components/user/UserEntityTable.spec.js
  frontend/src/services/AuthenticationAdaptor.js
  frontend/src/services/AuthenticationAdaptor.spec.js
  frontend/src/services/EmailAdaptor.spec.js
  frontend/src/services/ProductAdaptor.spec.js
  frontend/src/services/ProjectAdaptor.spec.js
  frontend/src/services/TeamsAdaptor.spec.js
  frontend/src/services/UserAdaptor.spec.js
  frontend/src/tests/ProductsComponent.spec.js
Due: build-fe

Tidy up tests and add onto them
  backend/src/test/java/teamx/app/backend/controllers/ProductControllerTest.java
  backend/src/test/java/teamx/app/backend/repositories/ProductRepositoryTest.java
  frontend/src/components/product/ProductEntityTable.spec.js
  frontend/src/services/ProductAdaptor.spec.js
Due: build-fe, build-be

heh
  .gitlab-ci.yml
Due: none

Finsihed readme, updated for Joey and Junior
  README.md
Due: none

small comments and fixes
  README.md
  backend/src/main/java/teamx/app/backend/controllers/AuthenticationController.java
  backend/src/main/java/teamx/app/backend/services/AuthenthicationService.java
  frontend/src/components/user/LoginComponent.vue
  frontend/src/components/user/PassForgotComponent.vue
  frontend/src/services/FetchInterceptor.js
Due: build-fe, build-be

Testing the tests that are to be tested.
  frontend/src/components/order/OrderEntityTable.spec.js
  frontend/src/components/order/OrderEntityTable.vue
  frontend/src/components/warehouses/WarehouseEntityTable.spec.js
Due: build-fe

Testing the tests that are to be tested.
  frontend/src/components/order/OrderEntityTable.spec.js
  frontend/src/services/ValidationRules.js
  frontend/src/services/WarehouseAdaptor.spec.js
Due: build-fe

Controllaaa
  backend/src/test/java/teamx/app/backend/controllers/WarehouseControllerTest.java
Due: build-be

Repoo
  backend/src/main/java/teamx/app/backend/repositories/ProjectRepository.java
  backend/src/test/java/teamx/app/backend/repositories/WarehouseRepositoryTest.java
Due: build-be

- Frontend model refactor
  README.md
Due: none
