Repository JoeyPoel/EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-fe, build-be

.gitlab-ci.yml:

stages:
  - test
  - build-frontend
  - build-backend

test-backend:
  image: maven:3.8.4-openjdk-17
  stage: test
  tags:
    - hva
  script:
    - cd backend
    - mvn test
  rules:
    - when: always

test-frontend:
  image: node:latest
  stage: test
  tags:
    - hva
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - frontend/node_modules/
  script:
    - cd frontend
    - npm install
    - npm run test
  rules:
    - when: always


build-fe:
  image: node:latest
  stage: build-frontend
  tags:
    - hva
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - frontend/node_modules/
  script:
    - cd frontend
    - npm install
    - npm run buildprod
  artifacts:
    paths:
      - frontend/dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

.docker-build-fe:
  image: docker:19.03.12
  stage: build-frontend
  tags:
    - hva
  services:
    - docker:19.03.12-dind
  needs:
    - job: build-fe
      artifacts: true
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG" -f frontend/Dockerfile .
    - docker push "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG"
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "solar3ewa/ewa-boolets-fe:$CI_COMMIT_REF_SLUG" "solar3ewa/ewa-boolets-fe:latest"
        docker push "solar3ewa/ewa-boolets-fe:latest"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*

build-be:
  image: maven:3.8.4-openjdk-17
  stage: build-backend
  tags:
    - hva
  script:
    - cd backend
    - mvn clean package -DskipTests
    - cp target/*.jar ../my-app.jar
  artifacts:
    paths:
      - my-app.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*

.docker-build-be:
  image: docker:19.03.12
  stage: build-backend
  tags:
    - hva
  services:
    - docker:19.03.12-dind
  needs:
    - job: build-be
      artifacts: true
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG" -f backend/Dockerfile .
    - docker push "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG"
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "solar3ewa/ewa-boolets-be:$CI_COMMIT_REF_SLUG" "solar3ewa/ewa-boolets-be:latest"
        docker push "solar3ewa/ewa-boolets-be:latest"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*

Refactor WarehouseTables components
  frontend/src/components/tables/WarehouseTeamsTable.vue
  frontend/src/components/tables/WarehouseTransactionsTable.vue
Due: build-fe

Update and enhance WarehouseTables components
  frontend/src/components/tables/WarehouseProjectsTable.vue
  frontend/src/components/tables/WarehouseStockLevelsTable.vue
  frontend/src/components/tables/WarehouseTransactionsTable.vue
Due: build-fe

Add new fields and improve async CRUD in Warehouses
  frontend/src/views/admin/warehouses/WarehousesV2.vue
Due: build-fe

Update warehouse handling in Inventories view
  frontend/src/views/admin/inventories/InventoriesV2.vue
Due: build-fe

Update warehouse event handling in DashboardComponent
  frontend/src/views/admin/dashboard/DashboardComponent.vue
Due: build-fe

Remove deprecated WarehousesComponent file and clean router paths
  frontend/src/components/base/DataTable.vue
  frontend/src/components/inventory/InventoryEntityTable.vue
  frontend/src/components/product/ProductEntityTable.vue
  frontend/src/components/project/ProjectEntityTable.vue
  frontend/src/components/project/ProjectMaterialsTable.vue
  frontend/src/components/team/TeamEntityTable.vue
  frontend/src/components/user/UserEntityTable.vue
  frontend/src/components/warehouses/WarehouseEntityTable.vue
  frontend/src/router/index.js
  frontend/src/views/admin/DashboardView.vue
  frontend/src/views/admin/InventoriesView.vue
  frontend/src/views/admin/ProductsView.vue
  frontend/src/views/admin/ProjectsView.vue
  frontend/src/views/admin/TeamsView.vue
  frontend/src/views/admin/UsersView.vue
  frontend/src/views/admin/WarehousesComponent.vue
  frontend/src/views/admin/WarehousesView.vue
Due: build-fe

pass generation mail now gets sent to the user
  backend/src/main/java/teamx/app/backend/controllers/EmailController.java
  frontend/package.json
  frontend/src/services/EmailAdaptor.js
  frontend/src/views/admin/users/UsersComponent.vue
Due: build-fe, build-be

Remove inventory and projects chart components
  frontend/src/components/charts/InventoryByAllProductsLineChart.vue
  frontend/src/components/charts/InventoryByAllWarehousesBarChart.vue
  frontend/src/components/charts/InventoryByProductBarChart.vue
  frontend/src/components/charts/InventoryByProductLineChart.vue
  frontend/src/components/charts/InventoryByWarehouseBarChart.vue
  frontend/src/components/charts/InventoryByWarehouseLineChart.vue
  frontend/src/components/charts/InventoryLine.vue
  frontend/src/components/charts/InventoryTotalStockBarChart.vue
  frontend/src/components/charts/LifeTimeStats.vue
  frontend/src/components/charts/ProjectsBar.vue
  frontend/src/components/charts/ProjectsByWarehouseThisMonthPie.vue
  frontend/src/components/charts/ProjectsThisMonthPie.vue
  frontend/src/components/warehouses/WarehouseTeamsTable.vue
  frontend/src/views/admin/DashboardView.vue
Due: build-fe

remove snackbar
  frontend/src/views/admin/users/UsersComponent.vue
Due: build-fe

Update WarehouseTeamsTable and Warehouse view
  frontend/src/components/charts/InventoryLine.vue
  frontend/src/components/warehouses/WarehouseTeamsTable.vue
  frontend/src/views/admin/DashboardView.vue
Due: build-fe

Refactor warehouseTeams fetching logic
  frontend/src/components/warehouses/WarehouseTeamsTable.vue
Due: build-fe

quick little change
  backend/src/main/java/teamx/app/backend/controllers/ProductController.java
  backend/src/main/java/teamx/app/backend/services/ProductService.java
  frontend/package.json
Due: build-fe, build-be

Refractor userpage + implement all functions with the new system
  frontend/src/components/user/UserEntityTable.vue
Due: build-fe

Team Entity Test
  backend/src/test/java/teamx/app/backend/controllers/EmailControllerTest.java
  backend/src/test/java/teamx/app/backend/services/EmailServiceTests.java
  frontend/src/tests/component/TeamEntityTest.spec.js
Due: build-fe, build-be

readme LOCAL, TODO Deployment
  README.md
Due: none

Backend error handling + popup styling
  backend/src/main/java/teamx/app/backend/models/Product.java
  backend/src/main/java/teamx/app/backend/models/Project.java
  backend/src/main/java/teamx/app/backend/models/Team.java
  backend/src/main/java/teamx/app/backend/models/User.java
  frontend/src/App.vue
  frontend/src/components/ErrorComponent.vue
  frontend/src/components/base/FormDialog.vue
  frontend/src/services/FetchInterceptor.js
Due: build-fe, build-be

Add OrdersView and update router paths
  frontend/src/components/NavbarComponent.vue
  frontend/src/plugins/vuetify.js
  frontend/src/router/index.js
  frontend/src/views/admin/OrdersView.vue
Due: build-fe

Commit message:
  frontend/src/components/order/OrderEntityTable.vue
Due: build-fe

readme's
  backend/README.md
  frontend/README.md
Due: build-fe, build-be

Add findAll functions and implement order entity table
  backend/src/main/java/teamx/app/backend/controllers/OrderController.java
  backend/src/main/java/teamx/app/backend/repositories/OrderRepository.java
  backend/src/main/java/teamx/app/backend/services/OrderService.java
  frontend/src/views/admin/OrdersView.vue
Due: build-fe, build-be

nevamind
  backend/src/main/java/teamx/app/backend/services/ProductService.java
Due: build-be

Implement order service with OrderAdaptor and update relevant components
  frontend/src/App.vue
  frontend/src/components/NavbarComponent.vue
  frontend/src/components/order/OrderEntityTable.vue
  frontend/src/models/Order.js
  frontend/src/services/OrderAdaptor.js
Due: build-fe

readme's
  README.md
  backend/README.md
  frontend/README.md
Due: build-fe, build-be

readme's 2
  backend/README.md
  frontend/README.md
Due: build-fe, build-be

readme's 3
  README.md
Due: none

Fixed tests
  backend/src/test/java/teamx/app/backend/repositories/ProductRepositoryTest.java
  backend/src/test/java/teamx/app/backend/repositories/TeamRepositoryTest.java
Due: build-be

Add delete functionality for orders and minor UI updates
  backend/src/main/java/teamx/app/backend/controllers/OrderController.java
  backend/src/main/java/teamx/app/backend/models/InventoryOrder.java
  backend/src/main/java/teamx/app/backend/services/OrderService.java
  backend/src/main/java/teamx/app/backend/utils/DTO.java
  frontend/src/components/charts/InventoryLine.vue
  frontend/src/components/order/OrderEntityTable.vue
  frontend/src/components/warehouses/WarehouseEntityTable.vue
  frontend/src/services/OrderAdaptor.js
Due: build-fe, build-be

remove unneeded validation in users
  frontend/src/components/user/UserEntityTable.vue
Due: build-fe

Implement add and update functionality for orders
  backend/src/main/java/teamx/app/backend/controllers/OrderController.java
  backend/src/main/java/teamx/app/backend/models/InventoryOrder.java
  backend/src/main/java/teamx/app/backend/repositories/TransactionRepository.java
  backend/src/main/java/teamx/app/backend/services/OrderService.java
  backend/src/main/java/teamx/app/backend/utils/DTO.java
  backend/src/main/resources/data.sql
Due: build-be

Update Order functionality and modify data.sql
  backend/src/main/java/teamx/app/backend/models/InventoryOrder.java
  backend/src/main/resources/data.sql
  frontend/src/components/charts/InventoryLine.vue
  frontend/src/components/charts/ProjectsBar.vue
Due: build-fe, build-be

Add ProductLineEntityTable component and update data.sql
  backend/src/main/resources/data.sql
  frontend/src/components/base/DataTable.vue
  frontend/src/components/base/FormDialog.vue
  frontend/src/components/base/ItemField.vue
  frontend/src/components/order/OrderEntityTable.vue
  frontend/src/components/product/ProductLineEntityTable.vue
  frontend/src/models/OrderLine.js
  frontend/src/models/ProductLine.js
Due: build-fe, build-be

jkmn
  frontend/src/components/base/ItemField.vue
  frontend/src/components/order/OrderEntityTable.vue
Due: build-fe

jkmn
  backend/src/test/java/teamx/app/backend/models/InventoryOrderTest.java
Due: build-be

LOL JOEY LOL
  backend/src/main/java/teamx/app/backend/controllers/EmailController.java
Due: build-be

jkmn
  frontend/src/components/NavbarComponent.vue
Due: build-fe

LOL JOEY HASHTAG
  backend/src/main/java/teamx/app/backend/controllers/EmailController.java
Due: build-be

XD
  backend/src/main/java/teamx/app/backend/controllers/EmailController.java
Due: build-be

hehe
  .gitlab-ci.yml
Due: none

readme for techno
  README.md
Due: none
